---
---

body{
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #657b83;
    background-color: #fdf6e3;
    padding:0 10px
}

h1,h2,h3 {
    color: #586e75;
    line-height: 1.2
}
